<div class="container" [ngClass]="{ 'active': isActive }" id="container">
  <div class="form-container sign-up">
    
    <!-- Formulario de Registro -->
    <form [formGroup]="registroForm" (ngSubmit)="registrarse()">
      <h1>Crear cuenta</h1>
      <div class="social-icons">
        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
      <span>O usa tu correo electrónico para registrarte</span>

      <!-- Contenedor de errores -->
      <div *ngIf="intentandoRegistrar && registroForm.invalid" class="error-container">
        <p *ngIf="registroForm.controls['nombre'].invalid">❌ El nombre debe tener al menos 3 caracteres</p>
        <p *ngIf="registroForm.controls['email'].invalid">❌ Introduce un correo válido</p>
        <p *ngIf="registroForm.controls['password'].invalid">❌ La contraseña debe tener al menos 6 caracteres</p>
      </div>      
    
      <input type="text" placeholder="Nombre"  formControlName="nombre">
      <input type="email" placeholder="Correo electrónico" formControlName="email">
      <input type="password" placeholder="Contraseña" formControlName="password">
    
      <button type="submit">Registrarse</button>
    </form>
    

  </div>
  <div class="form-container sign-in">
    <!-- Formulario de Inicio de Sesión -->
    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <h1>Iniciar sesión</h1>
      
      <div class="social-icons">
        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
      
      <span>O usa tu correo y contraseña</span>

      <!-- Contenedor de errores -->
      <div *ngIf="intentandoLogin && loginForm.invalid" class="error-container">
        <p *ngIf="loginForm.controls['email'].invalid">❌ Introduce un correo válido</p>
        <p *ngIf="loginForm.controls['password'].invalid">❌ La contraseña debe tener al menos 6 caracteres</p>
      </div>

      <input type="email" placeholder="Correo electrónico" formControlName="email">
      <input type="password" placeholder="Contraseña" formControlName="password">
      
      <a href="#">¿Olvidaste tu contraseña?</a>
      <button type="submit">Ingresar</button>
    </form>

  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>¡Bienvenido de nuevo!</h1>
        <p>Ingresa tus datos para acceder a todas las funciones de LiminaList</p>
        <button (click)="toggleLogin()" id="login">Iniciar sesión</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>¡Hola!</h1>
        <p>Regístrate para acceder a todas las funciones de LiminaList</p>
        <button (click)="toggleRegister()" id="register">Registrarse</button>
      </div>
    </div>
  </div>
</div>