<div id="placa">
    <h1>Lista de cosas que hacer
    </h1>
</div>

<div class="contenedor">
  <div class="reloj-container">
    <app-reloj></app-reloj>
  </div>
  <div class="lista-container">
    <app-lista></app-lista>
  </div>
</div>
  
<div id="barra-tareas">
  <img src="assets\icons\dedo.png" [routerLink]="'/home'" alt="Icono de Pluma" class="icono">
  <img src="assets\icons\cara.png" alt="Icono de Pluma" class="icono">
  <img src="assets\icons\square-pen-solid.svg" alt="Icono de Pluma" class="icono">
  <img src="assets\icons\clock.svg" alt="Icono de Pluma" class="icono">
  <img src="assets\icons\calendar.svg" alt="Icono de Pluma" class="icono" [style]="'padding-bottom : 5px'">
  <img src="assets\icons\ajustes.svg" alt="Icono de Pluma" class="icono">
</div>
