*{
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.lista-lateral {
    width: 30vw;
    background-color: red;
}

.main { 
    width: 70vw;
    background-color: blue;

    
    z-index: 50;
}

.header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

    height: 10vh;
}

.titulo {
    position: absolute;
    padding: 0 20px;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translate(-50%);
    font-size: 3rem;
    font-weight: bold;
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

.nav {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.main-content {
    background-color: aqua;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;    
}

.main-content > div {
    background-color: green;
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
}

.header-resum {
    background-color: red;
    height: 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.main-resum { 
    background-color: coral;
    height: 75%;
}

.main-resum > ul{
    height: 100%;

    display: flex;
    flex-direction: column;
    list-style: none;
    align-items:center;
    width: 90%;
    padding: 0 5%;

    overflow-y:auto;
    scrollbar-width: none;
}

.main-resum > ul > li {
    margin-top: 3vh;
    width: 100%;
    
    display: flex;
    font-size: larger;
}

.main-resum > ul > li:last-child {
    margin-bottom: 3vh;
}

.main-resum > ul > li > div {
    background-color: blueviolet;
    display: inline;
    padding: 5%;
    width: 100%;

    height: 4vh;
}

.main-resum > ul > li > .main-resum-lupa{
    display: none;
}

.main-resum > ul > li:hover > .main-resum-lupa{
    display:block;
    width: 4vh;
    height: 4vh;

    margin-right: 5%;
}

.main-resum > ul > li:hover > .main-resum-lupa:hover{
    background-color: rgb(8, 70, 70);
}

.footer-resum {
    background-color: darkgoldenrod;
    height: 10%;
}





.lista-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-lateral > h2{
    height: 10vh;
    background-color: purple;
}

.lista-lateral > div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 30vw;
}

.lista-lateral > div > ul{
    height: 90vh;
    overflow-y:auto;
    list-style: none;
}



/*calendario*/

.dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  font-weight: bold;
  color: #333;
  align-items: center;
}



.calendar-mini {
  justify-content: space-between;
  background: #f8f9fa;
}

.fechas {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
    padding: 2%;

    align-items: center;
    justify-items: center;
}

.fechas button {
  width: 90%;
  height: 90%;
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 2.5em;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

select, option{
    color: black;
    height: 80%;
    font-size: larger;
    font-weight: bold;
}

.empty-cell {
  width: 90%;
  height: 90%;
}


.fechas button:hover {
  background-color: #007bff;
  color: white;
}

.fechas button.selected {
  background-color: #28a745;
  color: white;
}



.icono {
    width: 60px; /* Ajusta el tamaño del icono */
    height: 60px;
    cursor: pointer; /* Indica que el icono es interactivo */
    transition: transform 0.2s ease-in-out; /* Animación al pasar el cursor */
    padding-right: 10px;
  }
  
  .icono:hover {
    transform: translate(2px,-2px); /* Aumenta ligeramente el tamaño al hacer hover */
  }