<div class="container">
    <div class="lista-lateral">
        <h2>Eventos Proximos</h2>
        <div>
            <ul>
                <li>a</li>
            </ul>
        </div>
    </div>

    <div class="main">
        <h1 class="titulo">Liminalist</h1>
        <div class="header">
            <div class="nav">
                <a href="#">A</a>
                <a href="#">A</a>
                <a href="#">A</a>
            </div>
        </div>

        <div class="main-content">
            <div class="calendar">
                <p>a</p>
            </div>
        </div>
    </div>
</div>