<div class="container">
    <div class="lista-lateral">
        <h2>Eventos Proximos</h2>
        <div>
            <ul>
                <li>a</li>
                <li *ngFor="let tarea of tareas">
                    <app-tarea
                      [nombre]="tarea.nombre"
                      [subtareas]="tarea.subtareas"
                      (eliminar)="tareas.splice(tareas.indexOf(tarea), 1)"
                    >
                  </app-tarea>
            </ul>
        </div>
    </div>

    <div class="main">
        <h1 class="titulo">Liminalist</h1>
        <div class="header">
            <div class="nav">
                <a href="#">A</a>
                <img src="assets\icons\exit.svg" [routerLink]="'/'" alt="Icono de Pluma" class="icono">
                <a href="#">A</a>
                <a href="#">A</a>
            </div>
        </div>

        <div class="main-content">
            <div class="calendar">
                <p>a</p>
            </div>
        </div>
    </div>
</div>