*{
    margin: 0;
    color: var(--color-texto);
}

.container {
    display: flex;
        flex-direction:row;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--color-primario);
}

.lista-lateral {
    width: 30vw;
}

.main { 
    width: 70vw;

    z-index: 50;
}

.titulo-header{
    cursor: pointer;
}

.header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

    height: 10vh;
}

    .lista-lateral{
        display: block;
    }

.titulo {
    position: absolute;
    padding: 0 20px;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translate(-50%);
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--color-secundario);
    
    border-radius: 0 0 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;
}

.nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    width: auto;
    height: 100%;
}

.main-content {
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;    

    border-radius: 20px;
}

.main-content > div {
    background-color: var(--color-secundario);
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;

    
    border-radius: 20px;
}

.header-resum {
    height: 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;

    
    border-radius: 20px 20px 0 0;
}

.main-resum { 
    background-color: var(--color-terciario);
    height: 75%;

    border-radius:20px;
}

.main-resum > ul{
    height: 100%;

    display: flex;
    flex-direction: column;
    list-style: none;
    align-items:center;
    width: 90%;
    padding: 0 5%;

    overflow-y:auto;
    scrollbar-width: none;
}

.main-resum > ul > li {
    margin-top: 3vh;
    width: 100%;
    
    display: flex;
    font-size: larger;
}

.main-resum > ul > li:last-child {
    margin-bottom: 3vh;
}

.main-resum > ul > li > div {
    background-color: var(--color-primario);
    display: inline;
    padding: 5%;
    width: 100%;

    height: 4vh;

    border-radius: 20px;
}

.main-resum > ul > li > .main-resum-lupa{
    display: none;
}

.main-resum > ul > li:hover > .main-resum-lupa{
    display:block;
    width: 4vh;
    height: 4vh;

    margin-right: 5%;
}

.main-resum > ul > li:hover > .main-resum-lupa:hover{
    background-color: rgb(8, 70, 70);
}

.footer-resum {
    height: 10%;

    border-radius: 0 0 20px 20px;
}





.lista-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secundario);
}

.lista-lateral > h2{
    height: 10vh;
    text-align: center;
}

.lista-lateral > ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    height: 90vh;
    overflow-y:auto;
    list-style: none;
    padding: 0;

}

.lista-lateral > ul > li div{
    display: flex;
}

.lista-lateral > ul > li > p{
    text-align: end;
}

.lista-lateral > ul > li div > a{
    width: 20%;
    display: block;
    align-self: center;
}

.lista-lateral > ul > li > div > app-tarea{
    width: 80%;
}



/*calendario*/

.dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  font-weight: bold;
  color: #333;
  align-items: center;
}



.calendar-mini {
  justify-content: space-between;
  background: var(--color-texto);
}

.fechas {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
    padding: 2%;

    align-items: center;
    justify-items: center;
    
    background-color: var(--color-terciario);
    border-radius: 20px
}

.fechas button {
  width: 90%;
  height: 90%;
  border: none;
  background-color: var(--color-primario);
  color: var(--color-texto);
  font-size: 2.5em;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

select, option{
    color: black;
    height: 80%;
    font-size: larger;
    font-weight: bold;
}

.empty-cell {
  width: 90%;
  height: 90%;
}


.fechas button:hover {
  background-color: var(--color-texto);
  color: var(--color-primario);
}

.header-resum select{
    background-color: var(--color-terciario);
    color: var(--color-texto);

    border-radius: 20px;
    border: none;
    text-align: center;
}

.fechas button.hoy{
    background-color: var(--color-texto);
    color: var(--color-primario);
}

.header-resum option{
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
}



.icono {
    width: 60px; /* Ajusta el tamaño del icono */
    height: 60px;
    cursor: pointer; /* Indica que el icono es interactivo */
    transition: transform 0.2s ease-in-out; /* Animación al pasar el cursor */
    padding-right: 10px;
  }
  
  .icono:hover {
    transform: translate(2px,-2px); /* Aumenta ligeramente el tamaño al hacer hover */
  }

  .perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario);
    padding: 5px 5px 0 15px;
    border-radius: 25px;
    margin-right: 10px;
  }

  .perfil img{
    margin-left: 10px;
  } 



  /* Hamburguesa oculta por defecto */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 200;
}

.menu-toggle img {
  width: 40px;
  height: 40px;
}

/* MODO RESPONSIVE */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: var(--color-secundario);
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
    padding: 1rem;
    border-radius: 0 0 0 20px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease, opacity 0.3s ease;
  }

  .nav.abierto {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    width: fit-content;
    border-top-left-radius: 20px;
    margin-bottom: 10px;
  }

  .nav.abierto .perfil{
    flex-wrap: wrap;
  }

  .nav.abierto .perfil h2{
    margin-bottom: 20px;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 300;
  }

  .titulo {
    font-size: 2rem;
  }

  .header {
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
  }

  .main-content{
    margin-top: 10vh;
  }
}

@media (max-width: 735px) {

    .container{
        display: flex;
        flex-direction: column;
    }

    .lista-lateral{
        order: 2;
        width: 100%;
    }

    .main{
        width: 100%;
    }

    .main-content{
        padding: 0;
    }
}

@media (max-width:515px){

    .fechas > button{
        font-size: 2em;
    }
}

@media (max-width:450px){

    .fechas > button{
        font-size: 1.5em;
    }

    .header-resum select{
        height: 50%;
        font-size: medium;
    }
}