<div class="estilo-toolbar">
  <button *ngIf="nivel > 0" (click)="volver()" [disabled]="nivel === 0" class="btn-volver">
    ← Volver
  </button>
  <span class="titulo-toolbar">{{ barChartOptions.plugins?.title?.text }}</span>
</div>

<canvas
  baseChart
  [data]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  chartType="bar"
  (chartClick)="onChartClick($event)">
</canvas>

<div class="legend-sticky">
  <div *ngFor="let ds of barChartData.datasets" class="legend-item">
    <span class="color-box" [style.background]="ds.backgroundColor"></span>
    {{ ds.label }}
  </div>
</div>

