.toolbar { display:flex; align-items:center; margin-bottom:1rem; }
.toolbar .title { margin-left:1rem; font-weight:bold; }
canvas {
  cursor: pointer;    /* El cursor se convierte en mano al pasar por el canvas */
}

.estilo-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  background-color: var(--color-secundario);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin-left: 10vw;
  margin-right: 10vw;
}

.btn-volver {
  background-color: #4a90e2;
  color: var(--color-texto);
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-volver:disabled {
  background-color: var(--color-terciario);
  cursor: not-allowed;
}

.titulo-toolbar {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  word-break: break-word;
}

.chart-wrapper {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 70vh; /* Ajusta a lo que prefieras */
  overflow: auto;
}

canvas {
  display: block;
  width: 100% !important;
  height: auto !important;
}


.legend-sticky{
  
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background: var(--color-secundario);
  padding: 0.5rem 1rem;
  display: flex;
  overflow-x: auto;     /* 👈 scroll horizontal */
  overflow-y: hidden;
  gap: 1rem;
  z-index: 1000;
  font-size: 0.9rem;
  align-items: center;
  white-space: nowrap;  /* 👈 evita que se vayan a nueva línea */
  border: none;
  -webkit-overflow-scrolling: touch; /* 👈 suaviza en iOS */
}

.legend-item{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--color-texto);
}

.color-box{
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: inline-block;
  border: none;
}