
<ul>
  <li class="boton-agregar">
    <h2 *ngIf="!tipoTarea">Tareas Puntuales</h2>
    <h2 *ngIf="tipoTarea">Tareas Rutinarias</h2>
    <button (click)="(editar)?agregarTarea():toggleTipoTarea()">
      <a *ngIf="editar">+</a>
      <img [hidden]="editar" src="assets/icons/switch.svg">
    </button>
  </li>
  <li [hidden]="tipoTarea" *ngIf="tareasPuntuales.length>0">
    <ul>
       <li *ngFor="let tarea of tareasPuntuales; let i = index"  class="tarea">
        <input 
        *ngIf="tarea.hora"
        readonly 
        [value]="tarea.hora"
        (click)="openPicker(i)"
        placeholder="Selecciona la hora" />

        <app-tarea
          [id]="tarea.id"
          [title]="tarea.title"
          [subtareas]="tarea.subtareas"
          (eliminar)="eliminarTarea(tarea)"
          [editar]="editar"
          [listaid]="tarea.list_id"
          [rutinario]="tarea.rutinario"
          [estados]="this.estados"
          (progresoActualizado)="onProgresoActualizado($event)"
          [progreso]="tarea.progreso"
          [fecha]="tarea.fecha"
        ></app-tarea>
      </li>
    </ul>
  </li>

  <!-- Lista de Tareas Rutinarias -->
  <li [hidden]="!tipoTarea" *ngIf="tareasRutinarias.length > 0">
    <ul>
      <li *ngFor="let tarea of tareasRutinarias">
        <app-tarea
          [id]="tarea.id"
          [title]="tarea.title"
          [subtareas]="tarea.subtareas"
          (eliminar)="eliminarTarea(tarea)"
          [editar]="editar"
          [listaid]="tarea.list_id"
          [rutinario]="tarea.rutinario"
          [estados]="this.estados"
          [progreso]="tarea.progreso"
          (progresoActualizado)="onProgresoActualizado($event)"
          [fecha]="tarea.fecha"
        ></app-tarea>
      </li>
    </ul>
  </li>
  <li class="sinTareas" *ngIf="tareas.length==0">
    <h2>No hay tareas en esta lista</h2>
    <p *ngIf="!editar"><img src="assets/icons/dedo.png" style="transform: scaleX(-1);" alt="->"> Pulsa <img src="assets/icons/square-pen-solid.svg"> para entrar en modo edicion y usa + para añadir tareas</p>
    <p *ngIf="editar"><img src="assets/icons/dedo.png" style="transform: scaleX(-1);" alt="->"> Pulsa + para añadir tareas</p>
  </li>
</ul>


<ngx-material-timepicker #picker [format]="24" [theme]="myTheme" (timeSet)="onTimeChange($event)"></ngx-material-timepicker>
