<!--<div id="tareas"></div>-->
<div class="lista">
    <ul>
      <li>
        <div class="cabecera">
            <div class="boton"></div>
            <div>Tarea 1</div>
            <div>2/2</div>
        </div>
        <div class="subtareas">
            <ul>
                <li>
                    <div class="cabecera">
                        <div class="boton"></div>
                        <div>Subtarea 1</div>
                        <div>2/2</div>
                    </div>
                    <div class="subtareas"></div>
                </li>
                <li>
                    <div class="cabecera">
                        <div class="boton"></div>
                        <div>Subtarea 2</div>
                        <div>2/2</div>
                    </div>
                    <div class="subtareas"></div>
                </li>
                <li>
                    
                    <div class="cabecera">
                        <div class="boton"></div>
                        <div>Subtarea 3</div>
                        <div>2/2</div>
                    </div>
                    <div class="subtareas"></div>
                </li>
            </ul>
        </div>
      </li>
      <li>
        <div class="cabecera">
            <div class="boton"></div>
            <div>Tarea 2</div>
            <div>2/2</div>
        </div>
        <div class="subtareas"></div>
      </li>
      <li>
        <div class="cabecera">
            <div class="boton"></div>
            <div>Tarea 3</div>
            <div>2/2</div>
        </div>
        <div class="subtareas"></div>
      </li>
    </ul>
  </div>
  