#tareas {
    background: #ffba5a;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
}

.lista {
    font-size: larger;
}

.lista ul {
    list-style: none;
    padding: 0;
}

.lista li {
    background: #ffca81;
}

*{
    list-style: none;
}

.boton-agregar{
    height: 50px;
    margin: 0 0 2vh 0;
    display: flex;
    justify-content:space-evenly;
}

.boton-agregar > button{
    background: #ffca81;
    padding: 0 5vw;
    border: none;
    border-radius: 52px;
    font-size: 2em;
    display: flex;
    align-items: center;
}

.boton-agregar img{
    height:3vh;
}

.boton-agregar > button:hover{
    background: #FF9E16;
}


.cabecera {
    display: flex;
    justify-content: space-between;
}

.subtareas li {
    background: #FF9E16;
}

ul>li {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

li>div:first-child {
    padding-right: 15px;
}