#tareas {
    background: #ffba5a;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
}

ul{
    padding: 0;
}

.lista {
    font-size: larger;
}

.lista ul {
    list-style: none;
    padding: 0;
}

.lista li {
    background: #ffca81;
}

*{
    list-style: none;
}

.boton-agregar{
    height: 50px;
    margin: 0 0 2vh 0;
    display: flex;
    justify-content:space-evenly;
}

.boton-agregar > button{
    background: #ffca81;
    padding: 0 5vw;
    border: none;
    border-radius: 52px;
    font-size: 2em;
    display: flex;
    align-items: center;
}

.custom-class .timepicker-button:hover {
  background-color: #ff9800 !important;
}

img{
    height:3vh;
}

.boton-agregar > button:hover{
    background: #FF9E16;
}

.tarea{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.tarea > app-tarea{
    width: 100%;
}

.tarea > input{
    margin-right: 10px;
    width: 10%;

    background-color: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    text-align: center;
    transition: ease-in-out padding 0.2s, background-color 0.2s;
}


.tarea > input:hover{

    background-color: #ffca81;
    border-radius: 20px;
    padding: 10px;
}

.cabecera {
    display: flex;
    justify-content: space-between;
}

.subtareas li {
    background: #FF9E16;
}

ul>li {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

li>div:first-child {
    padding-right: 15px;
}


.sinTareas p{
    font-size: larger;
}

.sinTareas{
    align-self: center;
}

.sinTareas img{
    vertical-align: middle;
}