<!--<div id="tareas"></div>-->

<ul>
  <li class="boton-agregar">
    <h2>Lista Puntual - </h2>
    <button (click)="agregarTarea()">+</button>
  </li>
  <li>
    <li *ngFor="let tarea of tareas">
      <app-tarea
        [nombre]="tarea.nombre"
        [subtareas]="tarea.subtareas"
        (eliminar)="tareas.splice(tareas.indexOf(tarea), 1)"
      >
      </app-tarea>
  </li>
</ul>

<!-- <app-tareas id='2435B' ruta='Lista/Tarea/Subtarea'></app-tareas> -->

<!--
<div class="lista">
    <ul>
      <li>
        <div class="cabecera">
            <div class="boton"></div>
            <div>Tarea 1</div>
            <div>2/2</div>
        </div>
        <div class="subtareas">
            <ul>
                <li>
                    <div class="cabecera">
                        <div class="boton"></div>
                        <div>Subtarea 1</div>
                        <div>2/2</div>
                    </div>
                    <div class="subtareas"></div>
                </li>
                <li>
                    <div class="cabecera">
                        <div class="boton"></div>
                        <div>Subtarea 2</div>
                        <div>2/2</div>
                    </div>
                    <div class="subtareas"></div>
                </li>
                <li>
                    
                    <div class="cabecera">
                        <div class="boton"></div>
                        <div>Subtarea 3</div>
                        <div>2/2</div>
                    </div>
                    <div class="subtareas"></div>
                </li>
            </ul>
        </div>
      </li>
      <li>
        <div class="cabecera">
            <div class="boton"></div>
            <div>Tarea 2</div>
            <div>2/2</div>
        </div>
        <div class="subtareas"></div>
      </li>
      <li>
        <div class="cabecera">
            <div class="boton"></div>
            <div>Tarea 3</div>
            <div>2/2</div>
        </div>
        <div class="subtareas"></div>
      </li>
    </ul>
  </div>
  
-->
