<div class="modo-selector">
  <button (click)="modo = 'productivo'">🧠 Productivo</button>
  <button (click)="modo = 'hora'">🕒 Reloj</button>
  <button (click)="modo = 'pomodoro'">🍅 Pomodoro</button>
</div>

<div class="modo-contenido">
    <ng-container [ngSwitch]="modo">
        <ng-container *ngSwitchCase="'productivo'">
            <p>{{ tareaActual?.title || 'Sin tarea actual' }}</p>
            <h2 *ngIf="tareaActual?.hora">
                Tiempo transcurrido:
                {{ formatearTiempo(horaActual.getHours() * 60 + horaActual.getMinutes() - minutosDeHora(tareaActual?.hora!)) }}
            </h2>
            <h2 *ngIf="tareaSiguiente?.hora">
                Tiempo restante:
                {{ formatearTiempo(minutosDeHora(tareaSiguiente?.hora!) - (horaActual.getHours() * 60 + horaActual.getMinutes())) }}
            </h2>
            <p *ngIf="tareaSiguiente?.hora">{{ tareaSiguiente?.title }}</p>
        </ng-container>

        <ng-container *ngSwitchCase="'hora'">
            <h2 class="horaActual">{{ horaActual | date: 'HH:mm:ss' }}</h2>
        </ng-container>

        <ng-container *ngSwitchCase="'pomodoro'">
            <h2>{{ estaDescansando ? 'Descanso 💤' : 'Trabajo 💼' }}</h2>
            <p>Tiempo restante: {{ formatearTiempo(tiempoRestante) }}</p>
                      <input type="time" [(ngModel)]="duracionTiempo" (change)="actualizarDuracionPomodoroDesdeTime()" step="60" />
            <button (click)="pomodoroActivo ? detenerPomodoro() : iniciarPomodoro()">
                {{ pomodoroActivo ? '⏹️ Detener' : '▶️ Iniciar' }}
            </button>
        </ng-container>
    </ng-container>
</div>
