@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

#placa {
    max-width: fit-content;
    padding: 0 4vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #FFBA5A;
    /*5abdff*/
    border-bottom-right-radius: 52px;
    font-size:larger;
}

#barra-tareas{
  max-width: fit-content;
  padding: 0 4vh;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #FFBA5A;
  /*5abdff o ff5a89*/
  border-top-right-radius: 52px;
  font-size:larger;
}

.contenedor {
    display: flex;
    height: 100vh; /* Ocupa toda la pantalla */
    background: #FF9E16;
  }
  
  .reloj-container {
    flex-grow: 1; /* Ocupa el espacio restante */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9E16;
    margin-right: 5vh;
  }
  
  .lista-container {
    width: 70%; /* Por defecto, ocupa la mitad */
    max-width: 80%; /* Máximo de la pantalla */
    min-width: 40%; /* Mínimo tamaño */
    overflow: auto;
    resize: horizontal; /* Permite cambiar el tamaño */
    background-color: #FFBA5A;
    padding: 20px;
    padding-right: 0;

    border-top-left-radius: 52px;
    border-bottom-left-radius: 52px;
  }
  



  #barra-tareas {
    display: flex;
    justify-content: space-around; /* Espaciado uniforme entre iconos */
    align-items: center;
    background-color: #FFBA5A;
    padding: 15px;
  }
  
  .icono {
    width: 60px; /* Ajusta el tamaño del icono */
    height: 60px;
    cursor: pointer; /* Indica que el icono es interactivo */
    transition: transform 0.2s ease-in-out; /* Animación al pasar el cursor */
    padding-right: 10px;
  }
  
  .icono:hover {
    transform: translate(2px,-2px); /* Aumenta ligeramente el tamaño al hacer hover */
  }