#placa {
    min-width: 372px;
    max-width: fit-content;
    padding: 0 20px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #FFBA5A;
    border-bottom-right-radius: 52px;
    font-size:larger;
}

.contenedor {
    display: flex;
    height: 100vh; /* Ocupa toda la pantalla */
    background: #FF9E16;
  }
  
  .reloj-container {
    flex-grow: 1; /* Ocupa el espacio restante */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9E16;
  }
  
  .lista-container {
    width: 50%; /* Por defecto, ocupa la mitad */
    max-width: 80%; /* Máximo de la pantalla */
    min-width: 30%; /* Mínimo tamaño */
    overflow: auto;
    resize: horizontal; /* Permite cambiar el tamaño */
    background-color: #FFBA5A;
    padding: 20px;
    padding-right: 0;

    border-top-left-radius: 52px;
    border-bottom-left-radius: 52px;
  }
  