<li [class]="claseNivel">
  <div class="tarea">
    <div class="cabecera">
      <button 
        (click)="(this.subtareas.length==0)?cambiarEstado():null" 
        class="estado-boton" 
        [style]="'background-color:'+this.estados[this.estadoActual].color"
        [attr.aria-label]="'Estado actual: ' + estados[estadoActual]"
      ></button>
      
      <div class="contenedor-nombre">
        <div 
          *ngIf="!editandoNombre" 
          class="nombre" 
          (click)="((!editar)?(toggleSubtareas()):(comenzarEdicion($event)))" 
          > <!-- Añade stopPropagation aquí -->
          {{ title }}
          <span *ngIf="progreso" class="badge-progreso">{{ progreso }}</span>
        </div>
        
        <input
          #nombreInput
          type="text"
          class="nombre-input"
          [(ngModel)]="nombreTemporal"
          [hidden]="!editandoNombre" 
          (blur)="guardarNombre()"
          (keydown.enter)="guardarNombre()"
          (keydown.escape)="cancelarEdicion()" />
      </div>
      
      
      <div class="acciones-tarea">
        <button 
          class="boton-agregar" 
          *ngIf="editar"
          [class.girando]="girando"
          (click)="agregarSubtarea()" 
          (mousedown)="onRightMouseDown($event)"
          (mouseup)="onRightMouseUp($event)"
          (mouseleave)="girando = false"
          aria-label="Añadir subtarea"
        >+</button>
        <button
        [hidden]="!editandoNombre"
        ><img src="assets/icons/pen-solid.svg" alt=""></button>
      </div>
    </div>
    
    <div [style.height]="(subtareas.length > 0) ? '' : '0'" class="subtareas" #subtareasContainer [class.cerrado]="!mostrarSubtareas">
      <ul>
        <li *ngFor="let subtarea of subtareas; trackBy: trackByTarea; let i = index">
          <app-tarea
            [id]="subtarea.id"
            [title]="subtarea.title"
            [subtareas]="subtarea.subtareas || []"
            [nivel]="nivel + 1"
            (eliminar)="eliminarSubtarea(i)"
            [editar]="editar"
            [listaid]="subtarea.list_id"
            [rutinario]="subtarea.rutinario"
            (actualizarEstadoPadre)="actualizarEstadoDesdeSubtareas()"
          ></app-tarea>
        </li>
      </ul>
    </div>
  </div>
</li>