li{
    list-style: none;
}

ul{
    padding: 0;
}

.tarea li {
    padding: 15px;
    padding-right: 0;
    margin: 5px 0 0 0;
}

.cabecera {
    display: flex;
    justify-content: space-between;
}


ul > li {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

li > div:first-child {
    padding-right: 15px;
}

/* Botón (vacío por ahora, para futuros estilos) */
.boton {
    /* Puedes añadir estilos aquí si se requiere funcionalidad o diseño específico */
}

.color-0 {
    background-color: #FF9E16; /* Color 0 */
  }
  
  .color-1 {
    background-color: #ffba5a; /* Color 1 */
  }
  
  .color-2 {
    background-color: #ffca81; /* Color 2 */
  }
  