*{
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
}

ul{
    padding: 0;
}

.tarea li {
    padding-right: 0;
    margin: 2vw 0 0 0;
    margin-top: 1vh;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    height: 40px;
}


li {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 5px 0 0 0;
}

/* Botón (vacío por ahora, para futuros estilos) */
.boton {
    /* Puedes añadir estilos aquí si se requiere funcionalidad o diseño específico */
}

.color-0 {
    background-color: #ffca81; /* Color 0 */
    /*background-color: #81e2ff; /* Color 0 */
  }
  
  .color-1 {
    background-color: #FF9E16; /* Color 1 */
    /*background-color: #16b5ff; /* Color 1 */
  }
  
  .color-2 {
    background-color: #ffba5a; /* Color 2 */
    /*background-color: #5abdff; /* Color 2 */
  }
  
  /* Anchura de tareas */
  div {
    padding: 10px;
    padding-right: 0;
  }

  
  
/* Botón de estado */
.estado-boton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: inline-block;
  }
  
  /* Estilos dinámicos según estado */
  .estado-0 { background-color: white; }       /* No hecha: vacío */
  .estado-1 { background-color: orange; }     /* En proceso */
  .estado-2 { background-color: lightblue; }  /* Casi terminada */
  .estado-3 { background-color: green; }      /* Hecha */
  


  /* Botón + para añadir subtareas */
.boton-agregar {
  position: absolute;
  right: -80px;
  top: 0%;
  width: 80px;
  height: 80px;

  border: none;
  border-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: right 0.2s ease-in-out; /* Animación suave */

}

/* Mostrar el botón al hacer hover */
.progreso:hover .boton-agregar {
  right: 0; /* Se desplaza a la derecha cuando se detecta hover */
}

.boton-agregar:hover {
  background-color: grey;
  color: white;
}

/* Contenedor de la tarea para detectar hover */
.tarea {
  position: relative;
}

.cabecera{

}


.subtareass {
  overflow: hidden;
  max-height: 0; /* Por defecto, plegado */
  opacity: 0; /* dudoso, tal vez lo ponga como opcional */
  padding-top: 0;
  padding-bottom: 0;
  transition: 
    padding-top 0.3s ease-in-out, 
    padding-bottom 0.3s ease-in-out,
    max-height 0.3s ease-in-out, 
    opacity 0.3s ease-in-out; /* Animación */
}

.subtareass.desplegado {
  max-height: 1000px; /* Un valor grande para cubrir todas las subtareas */
  opacity: 1;
  padding-top: 10px; /* posiblemente quitar */
  padding-bottom: 10px;
}

.subtareas {
  overflow: hidden;
  height: 0; /* Inicio oculto */
  transition: height 0.3s ease-in-out; /* Animación suave */
}

.subtareas.desplegado {
  height: auto; /* Se ajusta automáticamente al contenido */
}

