*{
    font-size: 1em;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

.tarea li {
    padding: 5px;
    padding-right: 0;
    margin: 5px 0 0 0;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}


li {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 5px 0 0 0;
}

/* Botón (vacío por ahora, para futuros estilos) */
.boton {
    /* Puedes añadir estilos aquí si se requiere funcionalidad o diseño específico */
}

.color-0 {
    background-color: #ffca81; /* Color 0 */
    /*background-color: #81e2ff; /* Color 0 */
  }
  
  .color-1 {
    background-color: #FF9E16; /* Color 1 */
    /*background-color: #16b5ff; /* Color 1 */
  }
  
  .color-2 {
    background-color: #ffba5a; /* Color 2 */
    /*background-color: #5abdff; /* Color 2 */
  }
  
  /* Anchura de tareas */
  div {
    padding: 8px;
    padding-right: 0;
  }