
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    color: var(--color-texto);
    font-family: 'Montserrat', sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/     
    transition: background-color 0.15s ease-in-out;           
}

body{
    /*background-color: rgb(69, 69, 69);*/
    background-color: var(--color-primario);
    margin: 0;
    width: 100%;
    overflow-x:hidden;
}

*{
  color: var(--color-texto);
}

html, body {
  overflow-x: hidden;
}


/* Ajustes de modulo de reloj */



ngx-material-timepicker {
  --timepicker-background-color: #ffffff; /* fondo blanco */
  --timepicker-text-color: #000000;       /* texto negro */
  --timepicker-accent-color: var(--color-terciario) !important;     /* color principal (azul por ejemplo)*/
}

.timepicker__content {
  border-radius: 16px !important;     /* bordes redondeados */
  box-shadow: none;
  padding: 16px;
}

.timepicker__header{
    border-radius: 20px 20px 0 0;
}

.timepicker__main-content, .timepicker__actions{
    border-radius:  0 0 20px 20px !important;
}

.timepicker {
    box-shadow: none !important;
}

.custom-class .timepicker-button:hover {
  background-color: #ff9800 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ngx-material-timepicker-overlay,
.cdk-overlay-container .ngx-material-timepicker-overlay {
  z-index: 10050 !important;
}


/* Bajamos el overlay de tu modal padre a z-index 1000 */
.overlay-padre,
.container {
  z-index: 1000 !important;
}

/* Forzamos el panel del timepicker por encima de TODO */
.cdk-overlay-container .cdk-overlay-pane.mi-timepicker-al-frente {
  z-index: 1100 !important;
}

/* Y luego el contenido interno, por si acaso */
.cdk-overlay-container
  .cdk-overlay-pane.mi-timepicker-al-frente
  .ngx-material-timepicker-content {
  z-index: 1101 !important;
}

.cdk-overlay-container{
  z-index: 0;
}

:root {
  --color-primario: #FF9E16;
  --color-secundario: #FFBA5A;
  --color-terciario: #ffca81;
  --color-texto: #ffffff;
}
