

.search-bar{
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 90%;
}
/* Estilos CSS */
.container-fluid {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: #ffba5a;
  transition: all 0.3s ease;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.right-sidebar {
  flex: 1; /* Ocupará el 50% del contenedor padre */
  max-width: 50%; /* Ajuste para el gap */
  height: auto; /* Quitamos altura fija */
  order: 0; /* Quitamos el order:2 que tenía antes */
}

.main-content {
  transition: all 0.3s ease;
  display: flex; /* Añadir flexbox */
  gap: 20px; /* Espacio entre los contenedores (posiblemente lo quite) */
  width: 100%;
}

/* Estados colapsados */
.left-collapsed.left-sidebar {
  width: 60px;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 100;
}

.left-toggle {
  right: 10px;
  top: 5px;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1000;
    width: 250px;
  }
  
  .left-sidebar {
    left: -250px;
  }
  
  .right-sidebar {
    right: -250px;
  }

  .main-content {
    margin: 0 !important;
    width: 100%;
  }
  
  .toggle-btn {
    position: fixed;
  }
}


.listas-container {
  flex: 1; /* Ocupará el 50% restante */
  max-width: 50%; /* Ajuste para el gap */
  padding: 20px;
}


.lista-item, .lista-añadir{
  display: flex;
  justify-content: space-between;
  height: 85px;
  background-color: #ffba5a;
  border-radius: 20px;
  margin-bottom: 20px;

  /*provisional*/
  max-width: 700px;
}

.lista-item > div{
  
  padding: 2%;
}

.lista-añadir{
  background-color: #ffba5a;
  width: 85px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

.lista-nombre{
  display: flex;
  align-items: center;
}

.lista-nombre > h3{
  margin: 0;
} 

img{
  height: 100%;
}

.listas{
  padding-left: 0;
  list-style: none;
}

.opciones{
  background-color: #ffca81;
  /*width: 20%;*/
  
  border-radius: 0 20px 20px 0;
}