<!--
    
<div class="listas-container">
    <h2>📌 Listas disponibles</h2>
    
    <input 
    type="text" 
    [(ngModel)]="filtro" 
    placeholder="🔍 Filtrar listas..." 
    (input)="filtrarListas()" 
    class="search-bar"
    />
    
    
    <ul class="listas">
        <li *ngFor="let lista of listas" class="lista-item">
            
            <input [(ngModel)]="lista.name" (change)="actualizarLista(lista)" class="lista-nombre" />
            
            
            <button (click)="actualizarLista(lista)" class="btn-editar">✏️ Guardar</button>
        </li>
    </ul>
</div>

--><!-- En tu template principal -->
<div class="container-fluid">
  <div class="sidebar left-sidebar" [class.left-collapsed]="leftCollapsed">
    <div class="sidebar-header">
      <h3 *ngIf="!leftCollapsed ">Filtros</h3>
      <button class="toggle-btn" (click)="toggleLeft()">
        {{ leftCollapsed  ? '☰' : '×' }}
      </button>
    </div>
    
    <div class="sidebar-content" *ngIf="!leftCollapsed ">
      
      <input 
        type="text" 
        [(ngModel)]="filtro" 
        placeholder=" Filtrar listas..." 
        (input)="filtrarListas()" 
        class="search-bar"
      />
      
      <div class="filter-section">
        <h5>Categorías</h5>
        <div class="form-check">
          <input class="form-check-input" type="checkbox">
          <label class="form-check-label">Categoría 1</label>
        </div>
        <!-- Repetir para otras categorías -->
      </div>
    </div>

    
    <img src="assets\icons\dedo.png" [routerLink]="'/home'" alt="Icono de Pluma" class="boton-atras">
  </div>

  <div class="main-content">
    
    <div class="listas-container">
      <!-- Tu contenido existente aquí -->

      <div class="listas-header">
        <h2>Listas</h2>
        <button>+</button>
        <button (click)="borrar = !borrar">
          <ng-container *ngIf="!borrar; else conLupa">-</ng-container>
          <ng-template #conLupa>
            <img src="assets/icons/lupa.svg" style="height: 70%;" alt="">
          </ng-template>
        </button>

      </div>
    
    <ul class="listas">
        <li *ngFor="let lista of listas" class="lista-item">
            
              <div (click)="abrirLista(lista.id)" class="lista-nombre">
                <h3>{{lista.name}}</h3>
              </div>
              
              <div (click)="(borrar)?null:(lista != listaSeleccionada)?listaSeleccionada=lista:abrirModal(lista.id)" class="opciones">
                <ng-container *ngIf="borrar">
                  <a class="opcion">-</a>
                </ng-container>

                <ng-container *ngIf="lista != listaSeleccionada && borrar==false">
                  <img class="opcion" src="assets/icons/lupa.svg" style="height: 70%;" alt="">
                </ng-container>

                <ng-container *ngIf="(lista == listaSeleccionada) && borrar==false">
                  <img class="opcion" src="assets/icons/qr.svg" style="height: 100%;" alt="codigo qr" (click)="abrirModal(lista.id)">
                </ng-container>
              </div>


            <!--button (click)="actualizarLista(lista)" class="btn-editar">✏️ Guardar</button>-->
        </li>
    </ul>
    </div>

     
     <!-- Barra lateral derecha -->
    <div class="sidebar right-sidebar">
      <ng-container *ngIf="listaSeleccionada != null && borrar==false">
        <div *ngIf="this.listaSeleccionada==null">
          <h4>Selecciona una lista</h4>
        </div>
        <div class="right-sidebar-content" *ngIf="this.listaSeleccionada!=null">
          <h1>{{this.listaSeleccionada.name}}</h1>
          
          <div class="sidebar-info">

            <div class="sidebar-descripcion">
              <p>Descripcion:</p>
              <textarea name="descripcion" id="descripcion">{{this.listaSeleccionada.id}}</textarea>
            </div>
            <div class="lista-creador">
              <h3 style="margin-bottom:0;">Autor: tu</h3>
            </div>
            <div class="lista-compartidos">
              <h3>Compartido con:</h3>
              <ul>
                <li>Jony</li>
                <li>Kelly</li>
              </ul>
            </div>
            <div class="lista-acciones">
              <button (click)="abrirModal(this.listaSeleccionada.id)">Compartir</button>
              <button>Eliminar</button>
              
            </div>
            <div class="lista-fechas">
              <h3>Creado el:<br>{{listaSeleccionada.created_at}}</h3>
              <h3>Ultima actualizacion:<br>{{listaSeleccionada.updated_at}}</h3>
            </div>
          </div>
        </div>
      </ng-container>

      
      <ng-container *ngIf="listaSeleccionada == null && borrar==false">
        <div>Selecciona una lista para verla</div>
      </ng-container>

            <ng-container *ngIf="borrar==true">
        <div>Selecciona una lista para borrar</div>
      </ng-container>

    </div>
  </div>
</div>

<app-compartir-modal
  *ngIf="mostrarModal"
  [listaId]="listaSeleccionadaId"
  (cerrar)="cerrarModal()">
</app-compartir-modal>